body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    background: linear-gradient(
    #86E3CE 0px,
    #86E3CE 277px,
    #D0E6A5 278px,
    #D0E6A5 457px,
    #FFDD94 458px,
    #FFDD94 547px,
    #FA897B 548px,
    #FA897B 592px,
    #CCABD8 593px,
    #CCABD8 2000px
    );
    min-height: 100vh;
    /* height: 100%; */
    /* background-size: auto; */
    /* background-position: top center; */
    /* min-height: 100%; */
    background-repeat: repeat-x;
    background-attachment: scroll;
    /* overflow-y: hidden; */
  }


  /* @media screen and (max-width: 1000px) {
    body {
      background-image: none;
    }
  } */

  .tree {
    /* display: flex; */
    justify-content: center;
  }

  .tree ul {
    position: relative;
    padding: 1em 0 0 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;

  }
  .tree ul::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 0em 0.5em 0 0.5em;
  }
  /* .tree li::before, .tree li::after {
    content: "";
    position: absolute;
    top: -2em;
    right: 50%;
    border-top: 10px solid rgb(0, 0, 0);
    width: 51%;
    height: 3em;
    z-index: -1;
  } */
  .tree li.pp::before, .tree li.pp::after {
    content: "";
    position: absolute;
    top: -2em;
    right: 50%;
    border-top: 1px solid rgb(0, 0, 0);
    width: 51%;
    height: 3em;
    z-index: -1;
  }
  .tree li.p::before, .tree li.p::after {
    content: "";
    position: absolute;
    top: -2em;
    right: 50%;
    border-left: 1px solid rgb(0, 0, 0);
    height: 3em;
    z-index: -1;
  }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
  }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before {
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
  }
  
  .tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    /* border-left: 1px solid rgb(0, 0, 0); */
    /* border-right: 1px solid rgb(0, 0, 0); */
    /* border-bottom: 3px solid rgb(255, 255, 255); */
    width: 20%;
    height: 1em;
    /* z-index: 10; */
  }

  
  .tree li a {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 0.5em 0.5em;
    line-height: 1.0;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    position: relative;
    background-color: #ffffff;
    box-shadow:0 0 0 1px black inset;
  }
  
  .tree li a:hover,
  .tree li a:hover + ul li a {
    background: #85dad5;
    color: #fff;
    /* border: 1px solid #058d3e; */
  }
  
  /* .tree li a:hover + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:hover + ul::before,
  .tree li a:hover + ul ul::before {
    border-color: #85dad5;
  } */

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* z-index: 1; */
    /* border-bottom: 1px dotted black; */
  }

  .tooltip .righttt {
    visibility: hidden;
    background-color: rgb(111, 0, 255);
    padding: 10px;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 50;
    top: -10px;
    left: 110%;
  }

  .tooltip:hover .righttt {
    visibility: visible;
  }

  .tooltip .lefttt {
    visibility: hidden;
    background-color: rgb(0, 14, 136);
    padding: 10px;
    color: #fff;
    text-align: right;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
    top: -10px;
    right: 110%;
  }

  .tooltip:hover .lefttt {
    visibility: visible;
  }

  .tooltip:hover span::after {
    content: attr(data-title);
 }
.tooltip span:hover {
    display: none;
 }

  .hide{
    display:none;  
  }

  .show{
    display: block;
    display: initial;
  }

li.hide{
  display:none;
}

.tooltip.locked{
    background-color: #000000;
    color: #ffffff;
}

.tooltip .tabletext {
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    color: rgb(0, 0, 0);
    text-align: left;
    border-radius: 2px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 110%;
  }
  .tooltip:hover .tabletext {
    visibility: visible;
  }


  table {
    border-collapse: collapse;
}

  th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: thin solid #000;
    border-spacing: 0;
    padding: 3px 3px;
}

table tbody tr:nth-of-type(even) {
    background-color: #e0e0e0;
}


  table td.wrong {
      color: red;
  }
  table td.right {
    color: green;
}

.green {
  color: green;
}