body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    background: linear-gradient(
    #ffffff 0em,
    #ffffff 0.5em,
    #86E3CE 0.51em,
    #86E3CE 23.5em,
    #ffffff 23.501em,
    #ffffff 24.5em,
    #D0E6A5 24.501em,
    #D0E6A5 39.5em,
    #ffffff 39.501em,
    #ffffff 40.5em,
    #FFDD94 40.501em,
    #FFDD94 47.5em,
    #ffffff 47.501em,
    #ffffff 48.5em,
    #FA897B 48.501em,
    #FA897B 51.5em,
    #ffffff 51.501em,
    #ffffff 52.5em,
    #CCABD8 52.501em,
    #CCABD8 100em
    );
    min-height: 100vh;
    /* height: 100%; */
    background-size: auto;
    /* background-position: top center; */
    /* min-height: 100%; */
    background-repeat: repeat-x;
    background-attachment: scroll;
    /* overflow-y: hidden; */
  }


  /* @media screen and (max-width: 1000px) {
    body {
      background-image: none;
    }
  } */

  .tree {
    display: flex;
    justify-content: center;
  }

  .tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
  }
  .tree ul::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em 0.5em 0 0.5em;
  }
  .tree li::before, .tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid rgb(0, 0, 0);
    width: 51%;
    height: 1em;
  }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
  }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before {
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
  }
  
  .tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
    /* border-right: 1px solid rgb(0, 0, 0); */
    /* border-bottom: 3px solid rgb(255, 255, 255); */
    width: 20%;
    height: 1em;
    /* z-index: 10; */
  }

  
  .tree li a {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em 0.75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    position: relative;
    background-color: #ffffff;
    top: 1px;
  }
  
  .tree li a:hover,
  .tree li a:hover + ul li a {
    background: #058d3e;
    color: #fff;
    border: 1px solid #058d3e;
  }
  
  .tree li a:hover + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:hover + ul::before,
  .tree li a:hover + ul ul::before {
    border-color: #058d3e;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    
    /* border-bottom: 1px dotted black; */
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(111, 0, 255);
    padding: 10px;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 110%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext2 {
    visibility: hidden;
    background-color: rgb(0, 14, 136);
    padding: 10px;
    color: #fff;
    text-align: right;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    right: 110%;
  }

  .tooltip:hover .tooltiptext2 {
    visibility: visible;
  }

  .tooltip:hover span::after {
    content: attr(data-title);
 }
.tooltip span:hover {
    display: none;
 }

  .hide{
    display:none;  
  }

  .show{
    display: block;
    display: initial;
  }

.tooltip.locked{
    background-color: #000000;
    color: #ffffff;
}