body {
    font-family: sans-serif;
    font-size: 15px;
    background: linear-gradient(
    #ffffff 0px,
    #ffffff 10px,
    #86E3CE 11px,
    #86E3CE 386px,
    #ffffff 387px,
    #ffffff 397px,
    #D0E6A5 398px,
    #D0E6A5 643px,
    #ffffff 644px,
    #ffffff 654px,
    #FFDD94 655px,
    #FFDD94 771px,
    #ffffff 772px,
    #ffffff 782px,
    #FA897B 783px,
    #FA897B 835px,
    #ffffff 836px,
    #ffffff 846px,
    #CCABD8 847px,
    #CCABD8 1000px,
    #ffffff 1001px
    );
    background-repeat: repeat-x;
    min-height: 1000px;
    width: 100vh;
    background-size: cover;
    background-position: top center;
  }

html{
      height: 100%;
      width: 100%}   

  .tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
  }
  .tree ul::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em 0.5em 0 0.5em;
  }
  .tree li::before, .tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid rgb(0, 0, 0);
    width: 51%;
    height: 1em;
  }
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
  }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none;
  }
  .tree li:only-child {
    padding-top: 0;
  }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
  }
  .tree li:last-child::before {
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
  }
  
  .tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
    width: 0;
    height: 1em;
  }
  
  .tree li a {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em 0.75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    position: relative;
    background-color: #ffffff;
    top: 1px;
  }
  
  .tree li a:hover,
  .tree li a:hover + ul li a {
    background: #058d3e;
    color: #fff;
    border: 1px solid #058d3e;
  }
  
  .tree li a:hover + ul li::after,
  .tree li a:hover + ul li::before,
  .tree li a:hover + ul::before,
  .tree li a:hover + ul ul::before {
    border-color: #058d3e;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    
    /* border-bottom: 1px dotted black; */
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(111, 0, 255);
    padding: 10px;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 110%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext2 {
    visibility: hidden;
    background-color: rgb(0, 14, 136);
    padding: 10px;
    color: #fff;
    text-align: right;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    right: 110%;
  }

  .tooltip:hover .tooltiptext2 {
    visibility: visible;
  }

  .tooltip:hover span::after {
    content: attr(data-title);
 }
.tooltip span:hover {
    display: none;
 }

  .hide{
    display:none;  
  }

  .show{
    display: block;
    display: initial;
  }

